{% extends 'horoscope/base.html' %}

{% block content %}
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Ваш знак Зодиака - {{ sign }}</h1>
          <p class="card-text">Чтобы узнать больше  знаке "{{ sign }}", кликните на кнопку ниже</p>
         <button class="btn btn-primary btn-lg" type="button"><a class="text-light text-decoration-none my-auto" href="{% url 'sign-detail' slug=button_slug %}"> Узнать больше</a></button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="text-light">Узнать гороскоп</h2>
          <p>Узнайте гороскоп для разных знаков зодиака.</p>
          <button type="button" class="btn btn-outline-light"><a href="{% url 'learn-horoscope'%}" class='text-light'>Получить гороскоп</a></button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Напишите дневнику</h2>
          <p>В начале дня вы можете узнвть что вас ждет, а в конце дня подвести итоги и записать все, что с вами приключилось в течении дня.
          Ведения дневника позволяет лучше познавать себя и свои эмоции, быть осозненнее.</p>
          <button class="btn btn-outline-secondary" type="button"><a href="{% url 'notes-home'%}">Вести дневник</a></button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>
  </div>
</main>




{% endblock %}