{% extends 'horoscope/base.html' %}

{% block content %}
    <div class="container">
                <h1 class="card-title">{{ sign.sign_name }}</h1>
                <h3>{{ sign.sign_info | capfirst }}</h3>
            </div>
        </div>
        <div class="container position-relative">
        <h2>Узнайте свой гороскоп</h2>

      <button type="button" class="btn btn-success"><a class="text-light text-decoration-none mb-5" href="{% url 'horoscope' slug=sign.slug day='yesterday'%}">На вчера</a></button>

<!-- Контекстную кнопку на информационные сообщения -->
        <button type="button" class="btn btn-info"><a class="text-light text-decoration-none mb-5" href="{% url 'horoscope' slug=sign.slug day='tomorrow'%}">На завтра</a></button>

<!-- Указывает, следует проявлять осторожность с этим действием -->
        <button type="button" class="btn btn-warning"><a class="text-light text-decoration-none mb-5" href="{% url 'horoscope' slug=sign.slug day='today'%}">На сегодня</a></button>
        <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none mb-5" href="{% url 'horoscope' slug=sign.slug day='month'%}">На месяц</a></button>


          </div>
    </div>
{% endblock %}













