{% extends "registration/base.html" %}


{% block content %}
{% load crispy_forms_tags %}

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card mt-5">
                        <div class="card-header">Редактировать аккаунт</div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ user_form|crispy }}
                                {{ profile_form|crispy }}
                                <button type="submit" class="btn btn-primary mt-2">Сохранить изменения</button>
                                <button type="button" class="btn btn-secondary mt-2"><a href="{% url 'main-page' %}" class="text-light">Вернуться на главную</a></button>

                            </form>
                            <p class="mt-5">Не знаете свой знак зодиака?</p>
                            <button type="button" class="btn btn-warning"><a href="{% url 'learn-sign' %}" class="text-dark"> Узнать </a></button>

                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}








