{% extends "registration/base.html" %}
{% block content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                    <div class="alert alert-info">
                        Ваш новый пароль установлен. Теперь вы можете войти, используя новый пароль.<a href="{% url 'login' %}">
                        <br> <br>Войти.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}